@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");



.nosotros-contenedor {
  padding: 80px 24px;
  min-height: 100vh;
  background:
    radial-gradient(circle at top, #353535, #030303f9);
  font-family: "Montserrat", sans-serif;
}


.titulo-nosotros {
  text-align: center;
  font-size: 2.6rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 60px;
  color: #b23030;
}



.grid-integrantes {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 35px;
  max-width: 1400px;
  margin: 0 auto;
}




.tarjeta-integrante {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 22px;
  padding: 50px 34px;
  text-align: center;
  position: relative;
  overflow: hidden;

  box-shadow:
    0 15px 35px rgba(129, 17, 17, 0.356),
    inset 0 0 0 1px rgba(0, 0, 0, 0.864);
  background-color: #F2F2F2;

  transition:
    transform 0.35s ease,
    box-shadow 0.35s ease;
}

.tarjeta-integrante::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(135deg,
      rgba(112, 110, 110, 0.205),
      transparent);
  pointer-events: none;
}

.tarjeta-integrante:hover {
  transform: translateY(-10px);
  box-shadow:
    0 25px 50px rgba(212, 40, 17, 0.596),
    inset 0 0 0 1px rgba(212, 40, 17, 0.596);
}

.tarjeta-integrante-imagen-wrapper {
width: 100%;
aspect-ratio: 1;
border-radius: 14px;
overflow: hidden;
margin-bottom: 16px;
background: #eee;
}
.tarjeta-integrante-imagen {
width: 100%;
height: 100%;
object-fit: cover;
}

.nombre-integrante {
  font-size: 1.2rem;
  font-weight: 600;
  color: #1c1c1c;
  margin-bottom: 4px;
}

.rol-integrante {
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #1C1C1C;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.descripcion-integrante {
  font-size: 0.92rem;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 22px;
}



.link-github {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  padding: 10px 18px;
  border-radius: 999px;

  background: linear-gradient(135deg, #333333, #555555);
  color: #ffffff;
  font-weight: 600;
  font-size: 0.85rem;
  letter-spacing: 0.5px;

  text-decoration: none;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background 0.3s ease;
}

.link-github:hover {
  transform: translateY(-2px);
  background: linear-gradient(135deg, #555555, #777777);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.3);
}



@media (max-width: 768px) {
  .titulo-nosotros {
    font-size: 2.2rem;
    margin-bottom: 45px;
  }

  .tarjeta-integrante {
    padding: 26px 20px;
  }
}

@media (max-width: 1200px) {
  .grid-integrantes {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .grid-integrantes {
    grid-template-columns: repeat(1, 1fr);
  }
}
