/* Contenedor principal (fondo oscurecido) */
.swal-custom-container {
  backdrop-filter: blur(4px);
}


.swal-custom-popup {
  background-color: #0c0c0c !important; 
  border: 1px solid #b77702; 
  border-radius: 8px !important;
  width: 350px !important; 
  padding: 20px !important;
}


.swal-custom-title {
  color: #c69b0c !important; 
  font-size: 1.4rem !important;
  margin-bottom: 10px !important;
}


.swal-custom-confirm {
  background-color: #b77702 !important;
  color: #000 !important;
  border: none !important;
  padding: 10px 20px !important;
  margin: 5px !important;
  border-radius: 4px !important;
  font-weight: bold !important;
  cursor: pointer;
  transition: transform 0.2s;
}

.swal-custom-confirm:hover {
  background-color: #d4a017 !important;
  transform: scale(1.05);
}


.swal-custom-cancel {
  background-color: transparent !important;
  color: #d33 !important;
  border: 1px solid #d33 !important;
  padding: 10px 20px !important;
  margin: 5px !important;
  border-radius: 4px !important;
  cursor: pointer;
}

.swal-custom-cancel:hover {
  background-color: rgba(221, 51, 51, 0.1) !important;
}